Source: meegotouchcp-ledapplet
Section: devel
Priority: optional
Maintainer: Tomasz Pieniążek <t.pieniazek@gazeta.pl>
Build-Depends: debhelper (>= 5), libduicontrolpanel-dev (>= 0.9.0),
               libmeegotouch-dev (>= 0.20.40)
Standards-Version: 3.8.0

Package: duicontrolpanel-ledapplet-l10n-additional
Section: l10n
Architecture: all
Replaces: duicontrolpanel-ledapplet-l10n-english, duicontrolpanel-ledapplet-l10n-polish
Description: Additional translations for ledapplet package

Package: duicontrolpanel-ledapplet
Section: misc
Architecture: any
Replaces: duicontrolpanel-ledapplet-l10n-engineering-english
Depends: ${shlibs:Depends}, ${misc:Depends}, duicontrolpanel, duicontrolpanel-ledapplet-l10n-additional, system-ui-led-support
Description: LED notifications settings applet.

Package: duicontrolpanel-ledapplet-dbg
Section: debug
Architecture: any
Priority: extra
Depends: duicontrolpanel-ledapplet (=${binary:Version})
Description: LED notifications Settings Applet - debugging symbols

